.headerWrapper {
  background-color: #db625c;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.title {
  color: #ffff;
}

.headerWrapper:hover {
  background-color: #7926a3;
}
